
#menu {  font-size: 0.7em;margin: 20px;position: relative;width: 142px;}
#menu ul { list-style-type: none;}
#menu ul li a.nivel1, #menu ul li a.nivel1ie { width: 142px;}
#menu ul li a.primera {border-top: solid 1px #fff;}
#menu ul li a {display: block;text-decoration: none;color: #fff;background-color: #399;border: solid 1px #fff;border-top: none;padding: 8px;position: relative;text-align: center;}
#menu ul li:hover {position: relative;color: #000;}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color: #6CC;color: #000;position: relative;}
#menu ul li a.nivel1 {display: block!important;display: none;position: relative;}
#menu ul li ul {display: none;}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;position: absolute;top:-1px!important;top: -22px;left:161px!important;left: 152px;width: 800px;}
#menu ul li a:hover ul#primero, #menu ul li:hover ul#primero {top:0px!important;top: -22px;}
#menu ul li ul li {display:inline;}
#menu ul li ul li a {width: 142px;float: left;background-color: #6CC;color: #000;margin-left: -2px;border-top: solid 1px #fff;}
#menu ul li ul li a:hover {position: relative;background-color: #399;color: #FFF;}table.falsa {border-collapse:collapse;border:0px;float: left;position: relative;}