@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;	
	transition: .3s;
}

.centrado{
	width: 70%;
	margin: 0 auto;
}

.big{
	width: 90%;
	margin: 0 auto;
}

body{
	/*background-color: #3F3F3F;*/
	background-color: #ededed;
}

span{
	font-weight: bold;
}

#main{
	padding: 10px;
	width: 70%;		
	margin: 0 auto;	
	height: auto !important;
    min-height: 100%;
    position: relative;
}

header{	
	height: auto;
	background: #37464f;
	
}

header #mensaje{
	color: #fff;
	height: 120px;
	background-color: #232323;
	background: url(../images/dark-header-img.jpg) center repeat ;
	text-align: center;
	padding-top: 30px;
	font-size: 1.2em;
	font-weight: lighter;
	word-spacing: 2%;
}

header h1{	
	text-align: center;
	font-size: 4rem;		
	color: #fff;		
}

header h1 a{	
	background-color: #fff;
	text-decoration: none;
	color: #000;
	padding: 20px;
}

header h1 a:hover{	
	color: #00a2ff;
}



section{	
	width: 70%;	
	float: left;
	display: inline-block;
}

section article{
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	height: auto;	
	margin-bottom: 30px;
}

section article h2{	
	padding-top: 20px;
	margin-bottom: 10px;	
}

section article h2 a {
	text-decoration: none;
	font-size: 1.4em;
	color: #333333;
}

section article h2 a:hover {	
	color: #00a2ff;
}

section article h3{
	padding: 10px;	
	text-align: center;
	color: #fff;
}

section article span{
	background-color: #1f2025;
	color: #fff;
	padding: 3px;
	font-size: 0.7em;	
}

section article p{
	
	line-height: 1.8em;
	margin-bottom: 20px;
}

section article textarea{
	width: 100%;
	padding: 7px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #E1E1E1;
}

section article form{
	padding: 20px;
}


section article input{	
  	text-align:center;		
  	background:#fff; 
  	border:1px solid #ccc; 
  	width: 60%; 	
 	display:block;
  	margin:0 auto;
  	margin-top:1%;
  	padding:10px;
  	text-align:center;
  	text-decoration:none;
  	color:#232323;
 }





aside{
	width: 28%;
	float: right;	
	height: auto;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 3px;		
	margin-bottom: 30px;	
}

aside h2{	
	color: #333333;
	padding: 5px;
	text-indent: 10px;
	margin-bottom: 10px;
}

aside li{
	list-style: none;
	padding: 2px 0px 2px 10px;
}

aside li a{
	color: #00a2ff;
	text-decoration: none;
}

aside li a:hover{	
	color: #00a2ff;
	text-decoration: underline;
}

#publi{
	text-align: center;
	border-bottom: solid 1px #cfcfcf;
	margin-bottom: 20px;
}

#publi:hover{
	cursor: pointer;
}

.button{
  width: 60%;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
  
}

.button:hover{
  background: #4FBDFF;  
}

.rouded{
	border-radius: 7px;
	width: 20%;
	background-color: #00a2ff;
}

nav{
	background: #fff;
	width: 100%;		
	text-align: right;
	font-size: 1.1em;	
	display: block;
	clear: both;	
	border-bottom: 1px solid #e0e0e0;
}

nav ul li {
	display: inline-block;
	padding: 10px;
}

nav a{
	color: #1f2024;
	text-decoration: none;
}

nav ul li:hover{	
	background-color: #00a2ff;
	color: #fff;
}

.azul{
	color: #00a2ff;
}

.azul:hover{
	color: #fff;
}


footer{
	background-color: #2a3744;
	clear: both;
	width: 100%;
	height: 200px;
}
